.companies {
  padding: 40px;
  text-align: justify;
}

.bold {
  font-weight: bolder;
}

.selfCheckout {
  padding-top: 10px;
}

.selfCheckout-title {
  padding-top: 10px;
  font-size: 22px;
}

.number {
  font-size: 18px;
}

.companie2 {
  padding-top: 20px;
  text-align: justify;
}
